@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font-size-130: 6.667vw;
  --line-height-130: 8.958vw;
  --font-size-30: 1.584vw;
  --font-size-36: 1.875vw ;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App{
  width: 100vw;
  height: 100vh;
}

.homeWrapper{
  background: url(./utils/assets/cover.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.home-header{
  font-family: 'Sora';
  font-weight: 800;
  font-size: var(--font-size-130); 
  line-height: var(--line-height-130);
  margin-bottom: 148px;
  margin-top: 98px;
}

.home-btn{
  font-family: 'Space Mono';
  background-color: #FFBB37;
  font-size: var(--font-size-30);
  width: 349px;
  border-radius: 15px;
  border: 1px solid black;
  padding: 20px 5px;
  z-index: 2;
  position: relative;
  color: #1C1C1C;
  text-align: center;
  text-decoration: none;
}

.org-name{
  font-family: 'Space Mono';
  font-size: var(--font-size-36);
}

.home-btn-container{
  position: relative;
  width: fit-content;
  height: fit-content;
  display: inline-block;
  text-decoration: none;
}

.home-btn-container span{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #555555;
  right: -10px;
  bottom: -10px;
  border-radius: 15px;
}

.navInput{
    background-color:  #F3F3F3;
    border-radius: 8px;
    height: 2.083vw;
}

.navInput input{
  background-color:  #F3F3F3;
  width: 140px;
  
}

.navInput input:focus{
  outline: none;
}

.navInput img{
  width: 1.5vw;
}

.navInput img:last-child{
  width: 1.6vw;
}

.nav-url-md{
  color: rgba(28, 28, 28, 0.4);
}

.nav-url{
  font-weight: 0.972vw;
}

.MuiTypography-root{
  display: flex;
}

.MuiPaper-root{
  border: none !important;
}

.MuiButtonBase-root{
  background-color: #fff !important;
  text-transform: capitalize !important;
  font-size: 0.972vw !important;
}

.MuiAccordionDetails-root {
  border: none !important;
  padding-top: 0 !important; 
  font-size: 0.972vw;
}

.MuiAccordionDetails-root li{
  /* padding: 0.5rem 0; */
}

.MuiAccordionDetails-root li a{
  color: #1C1C1C;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0;
  display: inline-block;
}

.MuiTypography-root{
  color: #1C1C1C;
  font-size: 0.972vw;
}

.MuiTypography-root ul{
  padding-left: 2.3rem;
  width: 100%;
}

.MuiSvgIcon-root, .MuiButtonBase-root{
  color: rgba(28, 28, 28, 0.2) !important;
}

.error{
  padding: 2rem;
}

.css-1usuzwp-MuiButtonBase-root-MuiTab-root.Mui-selected{
  border-bottom: none !important;
  color: rgba(28, 28, 28, 0.4) !important;
}

.menu-l-tab-content {
  list-style: revert; 
  padding-left: 1rem;
}
.menu-l-tab-content li{
  font-size: 0.972vw;
}
.menu-l-tab-content li::marker{
  color: rgba(28, 28, 28, 0.2);
}

.css-1gsv261{
  border-bottom: none !important;
}

.MuiBox-root {
  padding-top: 0 !important;
}

.css-rizt0-MuiTypography-root, .profileName{
  font-size: 0.972vw !important;
}

.semiWhite{
  color: rgba(28, 28, 28, 0.4);
}

.mlAfter{
  position: relative;
}

.mlAfter::after{
  content: "";
  position: absolute;
  width: 2px;
  height: 15px;
  bottom: -1px;
  left: 0.8vw;
  background-color: rgba(28, 28, 28, 0.1);
}

.orders-data{
  display: flex;
  gap: 4%;
  flex-wrap: wrap;
  color: #1C1C1C;
}

.orders-data > div{
  width: 48%;
  border-radius: 16px;
}

.orders-data1{
  background-color: #E3F5FF;
  margin-bottom: 4%;
}
.orders-data2{
  background-color: #F7F9FB;
  margin-bottom: 4%;
}
.orders-data3{
  background-color: #F7F9FB;
}
.orders-data4{
  background-color: #E5ECF6;
}

.MuiPaper-root{
  --Paper-shadow: none !important;
}

.LocationRevenue, .ProjectionsActuals, .MuiPaper-root, .revenueChart, .prodTable, .pieBlock{
  background-color: #F7F9FB;
  border-radius: 16px;
  color: #1C1C1C;
  height: 100%;
}

.MuiLinearProgress-root::before{
  background: #A8C5DA !important;
}

.MuiTableCell-root{
  background-color: #F7F9FB;
  font-size: 0.972vw;
  color: #1C1C1C;
}

.p-hght{
  height: auto;
}

.MuiBox-root{
  border: none !important;
  box-shadow: none !important;
}

.MuiStack-root{
  justify-content: center;
}
.pieLabelList li{
  position: relative;
  font-size: 0.833vw;
  margin-bottom: 1rem;
}
.pieLabelList li::before, .graphAbb::before{
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  top: 0;
  left: -1rem;
  bottom: 0;
  margin: auto;
}
.lab-1::before{
  background-color: #95A4FC;
}
.lab-2::before{
  background-color: #C6C7F8;
}
.lab-3::before{
  background-color: #BAEDBD;
}
.lab-4::before{
  background-color: #B1E3FF;
}

.rightBorder, .graphAbb {
  position: relative;
}

.rightBorder::after{
  content: "";
  position: absolute;
  width: 2px;
  height: 110%;
  background-color: rgba(28, 28, 28, 0.2);
  right: -2rem;
}

.graphAbb1::before{
  background-color: #1C1C1C;
}

.graphAbb2::before{
  background-color: #A8C5DA;
}

.dashboardTable .MuiTableCell-root, .ordersTableHead .MuiTableCell-root{
  background-color: #fff;
}

.table-toolbar, .MuiIconButton-root, .Mui-disabled .MuiIconButton-root{
  background-color: #F7F9FB !important;
}

.table-toolbar input{
  width: 160px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.MuiPaginationItem-root, .MuiPaginationItem-icon{
  color: #1C1C1C !important;
}
.Mui-selected{
  background-color: rgba(28, 28, 28, 0.05) !important;
  border-radius: 8px;
}

.dashboardTable td{
  font-size: 0.972vw;
}

/* active menu item */
.activeMenu .MuiButtonBase-root, li .activeMenu{
  background-color: rgba(28, 28, 28, 0.05) !important;
  padding: 0;
  border-radius: 8px;
  position: relative;
}
li .activeMenu{
  padding: 0.5rem 0.5rem !important;
}



.activeMenu .MuiButtonBase-root::before, li .activeMenu::before{
  content: "";
  position: absolute;
  width: 5px;
  height: 50%;
  background-color: #1C1C1C;
  left: -1px;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 10px;
}

.l-navbar .MuiButtonBase-root{
  margin-right: 0.5rem;
}

.l-nav-menu-item:hover, .l-nav-menu-item .MuiButtonBase-root:hover{
  background-color: rgba(28, 28, 28, 0.05) !important;
  border-radius: 8px;
  padding: 0.5rem 0.5rem !important;
  transition: 0.3s;
}

.l-nav-menu-item .MuiButtonBase-root:hover{
  padding: 0 !important;
}