@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font-size-130: 6.667vw;
  --line-height-130: 8.958vw;
  --font-size-30: 1.584vw;
  --font-size-36: 1.875vw ;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App{
  width: 100vw;
  height: 100vh;
}

.homeWrapper{
  background: url(./utils/assets/cover.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.home-header{
  font-family: 'Sora';
  font-weight: 800;
  font-size: var(--font-size-130); 
  line-height: var(--line-height-130);
  margin-bottom: 148px;
  margin-top: 98px;
}

.home-btn{
  font-family: 'Space Mono';
  background-color: #FFBB37;
  font-size: var(--font-size-30);
  width: 349px;
  border-radius: 15px;
  border: 1px solid black;
  padding: 20px 5px;
  z-index: 2;
  position: relative;
  color: #000;
  text-align: center;
  text-decoration: none;
}

.org-name{
  font-family: 'Space Mono';
  font-size: var(--font-size-36);
}

.home-btn-container{
  position: relative;
  width: fit-content;
  height: fit-content;
  display: inline-block;
  text-decoration: none;
}

.home-btn-container span{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #555555;
  right: -10px;
  bottom: -10px;
  border-radius: 15px;
}

.navInput{
    background-color:  #F3F3F3;
    border-radius: 8px;
    height: 2.083vw;
}

.navInput input{
  background-color:  #F3F3F3;
  width: 140px;
  
}

.navInput input:focus{
  outline: none;
}

.navInput img{
  width: 1.5vw;
}

.navInput img:last-child{
  width: 1.6vw;
}

.nav-url-md{
  color: rgba(28, 28, 28, 0.4);
}

.nav-url{
  font-weight: 0.972vw;
}

.MuiTypography-root{
  display: flex;
}

.MuiPaper-root{
  border: none !important;
}

.MuiButtonBase-root{
  background-color: #fff !important;
  text-transform: capitalize !important;
  font-size: 0.972vw !important;
}

.MuiAccordionDetails-root {
  border: none !important;
  padding-top: 0 !important; 
  font-size: 0.972vw;
}

.MuiAccordionDetails-root li{
  padding: 0.5rem 0;
}

.MuiAccordionDetails-root li a{
  color: #000;
  text-decoration: none;
}

.MuiTypography-root{
  color: #000;
  font-size: 0.972vw;
}

.MuiTypography-root ul{
  padding-left: 2.3rem;
  width: 100%;
}

.MuiSvgIcon-root, .MuiButtonBase-root{
  color: rgba(28, 28, 28, 0.2) !important;
}

.error{
  padding: 2rem;
}

.css-1usuzwp-MuiButtonBase-root-MuiTab-root.Mui-selected{
  border-bottom: none !important;
  color: rgba(28, 28, 28, 0.4) !important;
}

.menu-l-tab-content {
  list-style: revert; 
  padding-left: 1rem;
}
.menu-l-tab-content li{
  font-size: 0.972vw;
}
.menu-l-tab-content li::marker{
  color: rgba(28, 28, 28, 0.2);
}

.css-1gsv261{
  border-bottom: none !important;
}

.MuiBox-root {
  padding-top: 0 !important;
}

.css-rizt0-MuiTypography-root, .profileName{
  font-size: 0.972vw !important;
}

.semiWhite{
  color: rgba(28, 28, 28, 0.4);
}

.mlAfter{
  position: relative;
}

.mlAfter::after{
  content: "";
  position: absolute;
  width: 2px;
  height: 15px;
  bottom: -1px;
  left: 0.8vw;
  background-color: rgba(28, 28, 28, 0.1);
}